
.wrapperEditorField {
  width: 500px;
  display: flex;
  gap:5%
}

.wrapperEditorBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.labelEditorBlock {
  flex: 1;
}
