
.wrapperEditorField {
  width: 100%;
  display: flex;
  gap:1%
}

.wrapperEditorBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  gap: 30px;

  @media (max-width: 560px) {
    width: 300px;
  }
}

.labelEditorBlock {
  flex: 1;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  @media (max-width: 600px) {
    flex: 2;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
  }
}
